# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Data folders — download separately per each module README
audio/data/
pdf/data/
images/data/
video/data/
video/frames/
#text/data/

# Model weights — auto-downloaded on first run
*.pt
*.pth
*.ckpt

# Generated outputs — recreated by running the pipeline
audio/output_audio.csv
pdf/output_pdf.csv
images/output_images.csv
video/output_video.csv
#text/output_text.csv
integration/integrated_incidents.csv


# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
